<app-not-found
[visible]="!car"
resetLinkText="Go to cars"
notFoundMesssage="Product not found"
></app-not-found>
<div *ngIf="car" class="container">
    <img [src]="car.imageUrl" [alt]="car.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{car.name}}
            </span>

            <span class="favorite {{car.favorite? '': 'not' }}">
                ♥️
            </span>
        </div>

        <div class="rating">
            <app-star-rating [rating]="car.stars"></app-star-rating>
        </div>

        <div class="origins">
            <span *ngFor="let origin of car.origins">
                {{origin}}
            </span>
        </div>

        <div class="tags">
            <app-tags [carPageTags]="car.tags" justifyContent="start"></app-tags>
        </div>

        <div class="max-speed">
            <span>
                Max speed <strong>{{car.maxSpeed}}</strong>
            </span>
        </div>

        <div class="price">
            <span>{{ car.priceString }}</span>
        </div>

        <button (click)="addToCart()">Add to Cart</button>
    </div>


</div>