<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!cars || cars.length <=0" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let car of cars">
        <a routerLink="/car/{{car.id}}">
            <img src="{{ car.imageUrl }}" alt="">
            <div class="content">
                <div class="name">
                    {{ car.name }}
                </div>
                <span class="favorite {{ car.favorite? '':'not'}}">❤</span>
                <div class="stars">
                    <app-star-rating [rating]="car.stars"></app-star-rating>
                </div>

                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of car.origins">
                            {{ origin }}
                        </span>
                    </div>
                    <div class="maxSpeed">
                        <span>🏎️</span>
                        {{ car.maxSpeed }}
                    </div>
                </div>

                <div class="price"><span>
                        {{ car.priceString }}
                    </span></div>
            </div>
        </a>
    </li>
</ul>
<app-pagination-with-arrows [limit]="pageLimit"></app-pagination-with-arrows>